.navbar {
  padding: 0;
  background-color: rgb(2,139,149);
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}

.navbar-brand>img {
  height: 100%;
  padding: 0;
  width: 217px;
}

.nav-item > a {
  color:white;
}

.navbar-item {
  margin-right: 30px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.navbar-item.active{
  border: 0px !important;
  border-bottom: 2px solid white !important;
}
