<div class="d-flex" id="wrapper">
  <div class="border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">


      <div class="filter">
        <div class="input-group mb-2">
          <input type="text" [(ngModel)]="conventionsFilters.description" name="filterTitle" style="width: calc(100% - 50px); padding-left: 10px;border-radius: 10px 0px 0px 10px; border: 1px solid silver;" id="inlineFormInputGroup" placeholder="Search by title">
          <div class="input-group-prepend">
            <div class="input-group-text" style="border-radius: 0px 10px 10px 0px;">
              <fa-icon [icon]="faSearch"></fa-icon>
            </div>
          </div>
        </div>
      </div>

      <div class="filter">
        <span class="ml-2">Minimum Reduction</span>
        <input type="number" class="form-control mr-sm-2" [(ngModel)]="conventionsFilters.reduction" name="filterReduction">
      </div>

      <div class="filter">
        <span class="ml-2">Partner</span>
        <select class="custom-select mr-sm-2" [(ngModel)]="conventionsFilters.partner" name="filterPartner">
          <option value="">Choose...</option>
          <option>Tunisia</option>
          <option>France</option>
          <option>US</option>
        </select>
      </div>

      <div class="filter">
        <span class="ml-2">Starts after</span>
        <input type="date" class="form-control mr-sm-2" [(ngModel)]="conventionsFilters.start_date" name="filterStartingDate">
      </div>

      <div class="filter">
        <span class="ml-2">Ends before</span>
        <input type="date" class="form-control mr-sm-2" [(ngModel)]="conventionsFilters.end_date" name="filterEndDate">
      </div>

      <div class="form-check filter">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Show starred only
        </label>
      </div>

      <button class="btn btn-success" style="margin-top: 20px; background-color: #368c95; border: 0px;" (click)="filter()">Filter</button>
    </div>
  </div>



  <div class="content">
    <h3>Recent Posts</h3>
    <div style="margin-top: 50px;">
      <h1 *ngIf="conventions.length == 0" style="color: gray;text-align: center;"> No Results Found </h1>
      <div *ngFor="let convention of conventions; let i = index" class="convention">
        <div style="padding-bottom: 20px;" class="convention-info">
          <div class="progress-container" (click)="star(i)">
            <fa-icon *ngIf="isStarred(i)" [icon]="faStar" style="color: gold; font-size: 20px"></fa-icon>
            <fa-icon *ngIf="!isStarred(i)" [icon]="faStar" style="color: silver; font-size: 20px"></fa-icon>
          </div>
          <h2>{{convention.partner}}</h2><h5>{{convention.reduction}}% Off</h5>
          <h6 class="deadline">End Date: {{convention.end_date|date}} <span style="margin-left: 20px;">Starting Date: {{convention.start_date |date}}</span></h6>
          <div *ngIf="!isDetailedView[i]" class="convention-description">{{convention.description}}</div>
          <div *ngIf="isDetailedView[i]" class="detailed-convention-description">{{convention.description}}</div>
          <div *ngIf="authService.user?.role === 1">
            <button *ngIf="!alreadyApplied(i)" class="convention-card-btn" (click)="claim(i)">Claim</button>
            <button *ngIf="alreadyApplied(i)" class="convention-card-btn" style="background-color: #218838" disabled><fa-icon [icon]="faCheck"></fa-icon> Claimed</button>
          </div>
          <div *ngIf="authService.user?.role === 2"> <button class="convention-card-btn" (click)="remove(i)">Remove</button> </div>
        </div>
      </div>
    </div>
  </div>
</div>


